<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>图片1</string>
		<key>path</key>
		<string>biaoqingdi</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>图片2</string>
		<key>path</key>
		<string>bingli</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>图片3</string>
		<key>path</key>
		<string>chiniupa</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>图片4</string>
		<key>path</key>
		<string>danteng</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>图片5</string>
		<key>path</key>
		<string>wangba</string>
	</dict>
</array>
</plist>
